[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "libs/Imgui_Android"]
	path = libs/Imgui_Android
	url = https://github.com/sfalexrog/Imgui_Android.git
[submodule "libs/thread-pool"]
	path = libs/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/shenanigans"]
	path = libs/shenanigans
	url = https://github.com/zdenyhraz/shenanigans.git
