Language: Cpp
Standard: c++20
ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
ConstructorInitializerIndentWidth: 2
AccessModifierOffset: -2
BreakBeforeBraces: Allman
UseTab: Never
PointerAlignment: Left
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: InlineOnly
FixNamespaceComments: false
SortIncludes: false
AlwaysBreakTemplateDeclarations: true
IndentPPDirectives: BeforeHash
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: DontAlign
IncludeBlocks: Preserve
AllowShortIfStatementsOnASingleLine: Never
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: AfterColon
